# stocks.config
# template
# IEX CLOUD API KEY FILE
iexcloud.sandbox.key.txt
# AWS API KEY FILE
aws.rootkey.key.csv
# aws s3 bucket
daniel-one-bucket
# stock tickers
STX,NVDA,AMD,INTC,WDC
# Company type
Tech Company
# grouping
tech3
# lookback length title string
5 Year
# lookback length symbol
5y
# sandbox or live
sandbox
